$widthContainer: 1140px;
$padingMenu: 33px;
$borderRadius: 25px;
* {
    margin: 0 auto;
    padding: 0;
    outline: none;
}

.container {
    width: $widthContainer;
    height: 100%;
}

.header {
    height: 75px;
    background-color: #222222;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.link {
    display: block;
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
}

.fa-solid {
    color: #E8E8E8;
    font-size: 1.5em;
}

.fa-solid:hover {
    color: #F16D7F;
}

.fa-cart-arrow-down:hover {
    color: #FFF;
}

.RightPart {
    display: flex;
    justify-content: space-between;
    width: 127px;
    margin: 0;
    position: relative;
    align-items: center;
    height: 100%;
}

.dropmenu {
    padding-top: 26px;
    padding-bottom: 26px;
}

.leftPart {
    display: flex;
    width: 127px;
    margin: 0;
    justify-content: space-between;
}

.bread {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 148px;
}

.croshki {
    display: flex;
    margin: 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    font-family: 'Roboto', sans-serif;
}

.lastLink {
    color: #F16D7F;
    font-weight: bold;
}

.H3 {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
}

.content {
    background-color: #F1E4E6;
    height: 764px;
    background-color: #F1E4E6;
}

.preview {
    display: flex;
    height: 777px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.button1 {
    width: 45px;
    height: 45px;
    background-color: rgba(42, 42, 42, 0.15);
    border: 0;
    margin: 0;
}

.fa-chevron-right,
.fa-chevron-left {
    color: #000000;
}

.imagepreview {
    height: 100%;
}

.Man {
    width: 1600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand {
    display: flex;
    flex-direction: row;
    margin-left: 63px;
}

.square {
    width: 12px;
    background-color: #F16D7F;
    margin-right: 16px;
    flex-grow: 1;
}

.imageMan {
    margin: 0 0;
}

.theBrand {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.paragraph {
    font-family: Lato;
    font-style: normal;
    font-weight: 650;
    font-size: 32px;
    line-height: 24px;
    color: #222222;
}

.fashion {
    color: #F16D7F;
}

.cards1 {
    margin-top: 65px;
}

.upperCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0;
}

.cardsUpper {
    margin: 0 0;
}

.text {
    position: absolute;
    left: 127px;
    top: 110px;
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.beatyText {
    color: #F16D7F;
    font-size: x-large;
    font-weight: bolder;
}

.cards {
    position: relative;
    margin: 0 0;
    margin-top: 30px;
}

.textLower {
    position: absolute;
    color: #FFFFFF;
    left: 43%;
    top: 36%;
}

.fItems {
    display: flex;
    flex-direction: column;
}

.cards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0;
    margin-bottom: 30px;
}

.cardsLower {
    display: flex;
    position: relative;
    justify-content: center;
    text-decoration: none;
    width: 360px;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #F8F8F8;
    position: relative;
    align-items: center;
}

.cardsLower:hover {
    box-shadow: 5px 7px 8px 0px rgba(191, 191, 191, 0.76);
}

.cardsLower:hover .cardImage {
    filter: brightness(60%) blur(1px);
}

.cardsLower:hover .addCard {
    display: flex;
}

.addCard {
    display: none;
    position: absolute;
    top: 33%;
    color: white;
    padding: 13px 16px;
    border: 1px white solid;
    text-decoration: none;
}

.pAddCalrd {
    margin-left: 11px;
}

.cardImage:hover {
    filter: brightness(60%) blur(1px);
}

.cardsProduct {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 128px;
}

.upperdiscrp {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 0 0;
    margin-bottom: 13px;
    margin-top: 25px;
    padding-left: 5%;
    padding-right: 7%;
}

.lowerdiscrp {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
    padding-left: 5%;
    padding-right: 7%;
}

.cost {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: 0 0;
    padding-left: 5%;
}

.fuckingImage {
    justify-self: center;
}

.discription {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
}

.discriptionLower {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

p {
    font-family: 'Lato';
}

.browseAll {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    margin-top: 48.5px;
    padding: 14.5px 38.5px;
    margin-bottom: 95px;
}

.footer {
    background-color: #222224;
}

.upperfooter {
    height: 341px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feathers {
    display: flex;
    width: 360px;
    flex-direction: column;
}

.feathersImage {
    margin-bottom: 28px;
}

.feathersUpper {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
}

.feathersLower {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
}

.lowerfooter {
    background-image: url(image/footer/background.jpg);
    background-size: cover;
}

.woman {
    display: flex;
    flex-direction: column;
    width: 359px;
    margin: 0 0;
}

.womanLetter {
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.womanLettercursive {
    font-style: italic;
}

.lowerFooterContent {
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form {
    margin: 0 0;
}

.subscribe {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #222224;
}

.subscribeOtherText {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.Form {
    display: flex;
}

.form-control {
    display: block;
    display: inline-block;
    background: #E1E1E1;
    border: none;
    border-radius: $borderRadius 0 0 $borderRadius;
    height: 49px;
    width: 234px;
    padding-left: 22px;
}

.button {
    display: block;
    background: #F16D7F;
    border: none;
    border-radius: 0 $borderRadius $borderRadius 0;
    width: 100px;
    height: 49px;
    padding-right: 9px;
}

.buttonSubmit {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.copywrite {
    height: 79px;
}

.textcopuwrite {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin: 0;
}

.copyWriteContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.insta {
    margin: 0;
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.Socseti {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Socseti:hover {
    background-color: #F16D7F;
}

.Socseti:hover .fa-brands {
    color: white;
}

.dropmenu:hover .megabox {
    display: flex;
}

.megabox {
    display: none;
    position: absolute;
    top: 100%;
    width: 232px;
    background-color: #FFFFFF;
    left: -60px;
    height: 764px;
    list-style-type: none;
}

.textMenu {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #000000;
    margin-left: 34px;
    margin-top: 37px;
    margin-bottom: 24px;
    margin-right: 143px;
}

.razdel {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    font-weight: normal;
    margin: 20px 117px 12px 33px;
}

.subrazdel {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin: 11px 144px 11px 54px;
    text-decoration: none;
    font-weight: normal;
}

.filter {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.womenColect {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
    margin-top: 64px;
}

.redLine {
    width: 63px;
    height: 3px;
    background-color: #F26376;
    margin-bottom: 12px;
}

.deal {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 48px;
}

.textdeal {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 555px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 32px;
}

.cost1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-bottom: 130px;
}

.addCardSelect {
    display: flex;
    text-decoration: none;
    border: 1px #EF5B70 solid;
    padding: 14px 23px 14px 23px;
}

.pAddCard {
    font-size: 16px;
    line-height: 24px;
    color: #F26376;
    font-family: 'Roboto', sans-serif;
    margin-left: 14px;
    font-weight: bold;
    text-align: center;
}

.addCardSelect>.fa-cart-arrow-down {
    color: #F26376;
}

.formChose {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    border: none;
}

.formChose:hover {
    box-shadow: 6px 5px 5px 0px #DBCED6;
}